Repository Into-The-Grey/RaidAssist, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, api, ui, code, config, github, ci, tests, dependencies, assets, frontend, security, misc

.github/labeler.yml:

# .github/labeler.yml
# Configuration for github.com/actions/labeler
# Labels PRs/issues automatically by file changes, branch, or PR title

# Documentation changes (Markdown, .rst, text, docs folder)
documentation:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**/*', '**/*.rst', '**/*.txt']

# API (backend/data layer)
api:
  - changed-files:
      - any-glob-to-any-file: ['api/**/*']

# UI (frontend/Qt/desktop)
ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**/*']

# Source code (all code, including Python, JS, C/C++, etc.)
code:
  - changed-files:
      - any-glob-to-any-file: [
          '**/*.py', '**/*.js', '**/*.ts', '**/*.java', '**/*.cpp', '**/*.c', '**/*.cs', '**/*.go', '**/*.rs', '**/*.rb', '**/*.php'
        ]

# Configuration changes (YAML, JSON, TOML, INI, env, Docker)
config:
  - changed-files:
      - any-glob-to-any-file: [
          '**/*.yml', '**/*.yaml', '**/*.json', '**/*.toml', '**/*.ini', '**/*.cfg', '**/*.conf', '.env*', 'Dockerfile*', 'docker-compose*'
        ]

# GitHub workflows, actions, and CI/CD
github:
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*', '.gitignore']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*', '.github/actions/*']

# Tests (test/ or tests/ folders, test files)
tests:
  - changed-files:
      - any-glob-to-any-file: [
          '**/test/**/*', '**/tests/**/*', '**/*test*.py', '**/*_test.py', '**/test_*.py', '**/*spec*'
        ]

# Dependencies (lockfiles, requirements, package managers)
dependencies:
  - changed-files:
      - any-glob-to-any-file: [
          '**/package.json', '**/package-lock.json', '**/requirements.txt', '**/requirements-*.txt',
          '**/Pipfile', '**/Pipfile.lock', '**/Gemfile', '**/composer.json', '**/pom.xml',
          '**/build.gradle', '**/Cargo.toml', '**/Cargo.lock'
        ]

# Desktop/Assets
assets:
  - changed-files:
      - any-glob-to-any-file: ['assets/**/*', '**/*.ico', '**/*.png', '**/*.svg']

# Frontend (web-specific: HTML, CSS, etc.)
frontend:
  - changed-files:
      - any-glob-to-any-file: [
          '**/*.html', '**/*.css', '**/*.scss', '**/*.sass', '**/*.less', '**/*.vue', '**/*.jsx', '**/*.tsx'
        ]

# Security (known security-related files)
security:
  - changed-files:
      - any-glob-to-any-file: ['SECURITY.md', '**/CODE_OF_CONDUCT.md', '**/SECURITY_POLICY.md']

# Bug fixes (branch or PR title)
bug:
  - head-branch: ['^fix/', '^bugfix/', '^hotfix/']
  - title: ['^fix:', '^bug:', '^hotfix:']

# Features
feature:
  - head-branch: ['^feature/', '^feat/']
  - title: ['^feat:', '^feature:']

# Breaking changes
breaking:
  - title: ['breaking change', 'BREAKING CHANGE']
  - body: ['breaking change', 'BREAKING CHANGE']

# Misc/catch-all (for PRs not matching above)
misc:
  - changed-files:
      - any-glob-to-any-file: ['*']

# End of labeler.yml

Refactor file paths to use dynamic project root; improve cache and log directory handling across modules
  api/bungie.py
  api/exotics.py
  api/manifest.py
  api/parse_profile.py
Labels: api, code

Refactor project root path handling in interface.py; enhance settings loading and saving with error handling and logging in settings.py
  ui/interface.py
  ui/settings.py
Labels: ui, code

Add type ignore comments to Analysis, PYZ, EXE, and COLLECT in raidassist.spec for better type checking
  raidassist.spec
Labels: tests, misc

Add unit tests for Bungie API interactions, manifest handling, profile parsing, and settings management
  tests/test_bungie.py
  tests/test_exotics.py
  tests/test_manifest.py
  tests/test_parse_profile.py
  tests/test_placeholder.py
  tests/test_settings.py
Labels: code, tests

Set PYTHONPATH in GitHub Actions workflow for improved test execution
  .github/workflows/python-tests.yml
Labels: config, github, ci

Refactor item display test to handle empty manifest gracefully and improve assertions
  tests/test_manifest.py
Labels: code, tests

Add LICENSE file and update README to reflect licensing change to GNU GPL
  LICENSE
  README.md
  docs/repo/CHANGELOG.md
Labels: documentation, misc

Update LICENSE
  LICENSE
Labels: misc

Update label.yml
  .github/workflows/label.yml
Labels: config, github, ci

Update label.yml
  .github/workflows/label.yml
Labels: config, github, ci

Update LICENSE (#5)
  .github/workflows/label.yml
  LICENSE
Labels: config, github, ci, misc

Update LICENSE file with current copyright information and program details
  LICENSE
Labels: misc

Add copyright and licensing information to manifest, main, and interface files
  api/manifest.py
  main.py
  ui/interface.py
Labels: api, ui, code, misc

Update README for clarity and feature details; enhance installation instructions and project status
  README.md
Labels: documentation, misc

Implement OAuth authentication flow with Bungie API; add local server for code capture and token management
  .github/workflows/build-windows-exe.yml
  README.md
  api/bungie.py
  api/oauth.py
  auth_server.py
  localhost-key.pem
  localhost.pem
  main.py
  requirements.txt
  ui/interface.py
Labels: documentation, api, ui, code, config, github, ci, dependencies, misc

Potential fix for code scanning alert no. 17: Log Injection
  auth_server.py
Labels: code, misc

Potential fix for code scanning alert no. 16: Reflected server-side cross-site scripting
  auth_server.py
Labels: code, misc

Refactor GitHub Actions workflow to include environment variables for Bungie API credentials; enhance test for missing token scenario by mocking OAuth prompt
  .github/workflows/python-tests.yml
  tests/test_bungie.py
Labels: code, config, github, ci, tests

Add pyproject.toml for GitHub dependency graph support
  pyproject.toml
Labels: config, misc

Add GitHub Actions workflow for Python dependency graph submission
  .github/workflows/dependency-graph.yml
Labels: config, github, ci

Add condition to submit dependencies only on pull requests in workflow
  .github/workflows/dependency-graph.yml
Labels: config, github, ci

Potential fix for code scanning alert no. 16: Reflected server-side cross-site scripting (#8)
  auth_server.py
Labels: code, misc

Potential fix for code scanning alert no. 17: Log Injection (#7)
  auth_server.py
Labels: code, misc

Update CHANGELOG for v0.3.0-alpha: Enhance OAuth flow, onboarding, and CI/CD processes
  docs/repo/CHANGELOG.md
Labels: documentation

Update README.md
  README.md
Labels: documentation, misc

Update README.md (#9)
  README.md
Labels: documentation, misc

feat(ui): Revamp settings dialog with modern card-based interface and enhanced layout
  .github/workflows/build-windows-exe.yml
  .github/workflows/python-tests.yml
  api/__init__.py
  api/bungie.py
  api/manifest.py
  assets/api_tester_icon.png
  assets/catalyst_icon.png
  assets/dashboard_icon.png
  assets/exotic_icon.png
  assets/export_icon.png
  assets/notification_icon.png
  assets/overlay_icon.png
  assets/raidassist_icon.png
  assets/redborder_icon.png
  assets/refresh_icon.png
  assets/search_icon.png
  assets/settings_icon.png
  assets/style.qss
  assets/user_icon.png
  auth_server.py
  logs/.gitkeep
  main.py
  raidassist.spec
  requirements.txt
  tests/conftest.py
  tests/pytest.ini
  tests/run_tests.py
  tests/test_bungie.py
  tests/test_enhanced_systems.py
  ui/__init__.py
  ui/api_tester.py
  ui/interface.py
  ui/loading.py
  ui/overlay.py
  ui/settings.py
  utils/__init__.py
  utils/error_handler.py
  utils/logging_manager.py
Labels: documentation, api, ui, code, config, github, ci, tests, dependencies, assets, misc

fix(ci): Update Python version to 3.8 for compatibility in workflows
  .github/workflows/codeql.yml
  .github/workflows/python-tests.yml
Labels: config, github, ci

fix(requirements): Remove version constraint for pyqt-hotkey
  requirements.txt
Labels: documentation, dependencies, misc

fix(requirements): Replace pyqt-hotkey with keybind in dependencies
  requirements.txt
Labels: documentation, dependencies, misc

refactor(tests): Simplify pytest.ini configuration format for clarity
  tests/pytest.ini
Labels: config, tests

Potential fix for code scanning alert no. 18: Information exposure through an exception
  auth_server.py
Labels: code, misc

Potential fix for code scanning alert no. 18: Information exposure through an exception (#10)
  auth_server.py
Labels: code, misc

refactor(error_handler): Improve Qt compatibility checks and streamline error handling logic
  utils/error_handler.py
Labels: code

refactor(tests): Enhance mock requests handling in test_fetch_profile_mock
  tests/test_bungie.py
  utils/error_handler.py
Labels: code, tests

Potential fix for code scanning alert no. 29: Unreachable 'except' block
  ui/__init__.py
Labels: ui, code

refactor(api): Update redirect URI and port for OAuth configuration refactor(tests): Adjust mock response structure in fetch_profile test
  api/bungie.py
  api/oauth.py
  tests/test_bungie.py
Labels: api, code, tests

refactor(tests): Update content check in test_fetch_profile_mock to match actual cache structure
  tests/test_bungie.py
Labels: code, tests

Potential fix for code scanning alert no. 29: Unreachable 'except' block (#11)
  ui/__init__.py
Labels: ui, code

Potential fix for code scanning alert no. 90: Unnecessary pass
  ui/__init__.py
Labels: ui, code
