Repository Into-The-Grey/RaidAssist, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, api, ui, code, config, github, ci, tests, dependencies, assets, frontend, security, misc

.github/labeler.yml:

# .github/labeler.yml
# Configuration for github.com/actions/labeler
# Labels PRs/issues automatically by file changes, branch, or PR title

# Documentation changes (Markdown, .rst, text, docs folder)
documentation:
  - changed-files:
      - any-glob-to-any-file: ['**/*.md', 'docs/**/*', '**/*.rst', '**/*.txt']

# API (backend/data layer)
api:
  - changed-files:
      - any-glob-to-any-file: ['api/**/*']

# UI (frontend/Qt/desktop)
ui:
  - changed-files:
      - any-glob-to-any-file: ['ui/**/*']

# Source code (all code, including Python, JS, C/C++, etc.)
code:
  - changed-files:
      - any-glob-to-any-file: [
          '**/*.py', '**/*.js', '**/*.ts', '**/*.java', '**/*.cpp', '**/*.c', '**/*.cs', '**/*.go', '**/*.rs', '**/*.rb', '**/*.php'
        ]

# Configuration changes (YAML, JSON, TOML, INI, env, Docker)
config:
  - changed-files:
      - any-glob-to-any-file: [
          '**/*.yml', '**/*.yaml', '**/*.json', '**/*.toml', '**/*.ini', '**/*.cfg', '**/*.conf', '.env*', 'Dockerfile*', 'docker-compose*'
        ]

# GitHub workflows, actions, and CI/CD
github:
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*', '.gitignore']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/*', '.github/actions/*']

# Tests (test/ or tests/ folders, test files)
tests:
  - changed-files:
      - any-glob-to-any-file: [
          '**/test/**/*', '**/tests/**/*', '**/*test*.py', '**/*_test.py', '**/test_*.py', '**/*spec*'
        ]

# Dependencies (lockfiles, requirements, package managers)
dependencies:
  - changed-files:
      - any-glob-to-any-file: [
          '**/package.json', '**/package-lock.json', '**/requirements.txt', '**/requirements-*.txt',
          '**/Pipfile', '**/Pipfile.lock', '**/Gemfile', '**/composer.json', '**/pom.xml',
          '**/build.gradle', '**/Cargo.toml', '**/Cargo.lock'
        ]

# Desktop/Assets
assets:
  - changed-files:
      - any-glob-to-any-file: ['assets/**/*', '**/*.ico', '**/*.png', '**/*.svg']

# Frontend (web-specific: HTML, CSS, etc.)
frontend:
  - changed-files:
      - any-glob-to-any-file: [
          '**/*.html', '**/*.css', '**/*.scss', '**/*.sass', '**/*.less', '**/*.vue', '**/*.jsx', '**/*.tsx'
        ]

# Security (known security-related files)
security:
  - changed-files:
      - any-glob-to-any-file: ['SECURITY.md', '**/CODE_OF_CONDUCT.md', '**/SECURITY_POLICY.md']

# Bug fixes (branch or PR title)
bug:
  - head-branch: ['^fix/', '^bugfix/', '^hotfix/']
  - title: ['^fix:', '^bug:', '^hotfix:']

# Features
feature:
  - head-branch: ['^feature/', '^feat/']
  - title: ['^feat:', '^feature:']

# Breaking changes
breaking:
  - title: ['breaking change', 'BREAKING CHANGE']
  - body: ['breaking change', 'BREAKING CHANGE']

# Misc/catch-all (for PRs not matching above)
misc:
  - changed-files:
      - any-glob-to-any-file: ['*']

# End of labeler.yml

Potential fix for code scanning alert no. 90: Unnecessary pass (#12)
  ui/__init__.py
Labels: ui, code

Update build-windows-exe.yml
  .github/workflows/build-windows-exe.yml
Labels: config, github, ci

Update build-windows-exe.yml (#13)
  .github/workflows/build-windows-exe.yml
Labels: config, github, ci

Fix overlay imports and add compatibility module
  ui/advanced_overlay.py
  ui/overlay.py
Labels: ui, code

Fix overlay imports and add compatibility module (#14)
  ui/advanced_overlay.py
  ui/overlay.py
Labels: ui, code

Refactor UI components to use PySide6 and improve layout management
  .github/workflows/build-windows-exe.yml
  .github/workflows/python-tests.yml
  api/__init__.py
  api/bungie.py
  api/exotics.py
  api/manifest.py
  api/oauth.py
  api/parse_profile.py
  auth_server.py
  logs/.gitkeep
  logs/error_details_20250715_101249.json
  logs/error_details_20250715_101836.json
  logs/error_details_20250715_102235.json
  logs/error_details_20250715_102645.json
  logs/error_details_20250715_120228.json
  main.py
  pyproject.toml
  raidassist.spec
  requirements.txt
  tests/conftest.py
  tests/run_tests.py
  tests/test_bungie.py
  tests/test_exotics.py
  tests/test_manifest.py
  tests/test_parse_profile.py
  tests/test_settings.py
  tests/test_systems.py
  ui/__init__.py
  ui/api_tester.py
  ui/interface.py
  ui/loading.py
  ui/overlay.py
  ui/settings.py
  utils/__init__.py
  utils/error_handler.py
  utils/logging_manager.py
Labels: documentation, api, ui, code, config, github, ci, tests, dependencies, misc

Fix typo in Codecov action configuration for coverage file upload
  .github/workflows/python-tests.yml
Labels: config, github, ci

Potential fix for code scanning alert no. 98: Empty except
  ui/__init__.py
Labels: ui, code

Potential fix for code scanning alert no. 91: 'import *' may pollute namespace
  ui/advanced_overlay.py
Labels: ui, code

Add missing libegl1 package for GUI testing dependencies
  .github/workflows/python-tests.yml
Labels: config, github, ci

Potential fix for code scanning alert no. 98: Empty except (#17)
  ui/__init__.py
Labels: ui, code

Potential fix for code scanning alert no. 91: 'import *' may pollute namespace (#18)
  ui/advanced_overlay.py
Labels: ui, code

Refactor imports and enhance error handling in API and Utils modules
  api/__init__.py
  utils/__init__.py
Labels: api, code

Fix Bungie API endpoint format and add debug script for testing
  api/bungie.py
  debug_api.py
  logs/.gitkeep
  test_search_fix.py
Labels: api, code, tests, misc

Remove outdated error log files from July 15, 2025
  logs/error_details_20250715_101249.json
  logs/error_details_20250715_101836.json
  logs/error_details_20250715_102235.json
  logs/error_details_20250715_102645.json
  logs/error_details_20250715_120228.json
Labels: config

Refactor authentication system to implement OAuth PKCE flow
  .env.example
  .github/workflows/build-windows-exe.yml
  .github/workflows/python-tests.yml
  README.md
  api/bungie.py
  api/manifest.py
  api/oauth.py
  auth_server.py
  debug_api.py
  docs/OAUTH_SETUP.md
  tests/test_bungie.py
  tests/test_oauth_pkce.py
  ui/api_tester.py
  verify_oauth_setup.py
Labels: documentation, api, ui, code, config, github, ci, tests, misc

Enables CI test mode to bypass OAuth and use mock data
  .github/workflows/python-tests.yml
  CI_FIX_SUMMARY.md
  api/oauth.py
  cache/manifest/DestinyInventoryItemDefinition.json
  logs/error_details_20250716_123000.json
  logs/error_details_20250716_123121.json
  test_ci_fix_validation.py
  tests/test_bungie.py
  tests/test_oauth_pkce.py
Labels: documentation, api, code, config, github, ci, tests, misc

Refactor Bungie API configuration to use bundled credentials with environment variable overrides for development/testing
  api/bungie.py
  api/manifest.py
  api/oauth.py
  debug_api.py
  test_user_experience.py
  tests/test_bungie.py
  tests/test_oauth_pkce.py
  ui/api_tester.py
  update_credentials.py
Labels: api, ui, code, tests, misc

Remove environment variable overrides for production OAuth configuration
  api/oauth.py
Labels: api, code

Enhance test scripts with improved environment variable handling and logging integration
  tests/test_bungie.py
  tests/test_oauth_pkce.py
Labels: code, tests

Refactor Bungie API and OAuth configuration to use getter functions for environment variables
  api/bungie.py
  api/oauth.py
  tests/test_bungie.py
  tests/test_oauth_pkce.py
Labels: api, code, tests
